{% extends 'bootstrap/base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('.static', filename='css/styles.css')}}">
{% endblock %}
{% block title %}Restaurants{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

	  <table class="table">
    <thead>
        <tr>
            <th>Cafe</th>
            <th>Location URL</th>
            <th>Opening time</th>
            <th>Closing time</th>
            <th>Coffee rating</th>
            <th>Wifi rating</th>
            <th>Power outlet rating</th>
        <tr>
    </thead>
    <tbody>
        {% for row in cafes %}
        <tr>
            <td>{{ row[0] }}</td>
            <td><a href={{row[1]}}>Map Link</a></td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            <td>{{ row[6] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

      <p><a href={{url_for('home')}}>Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}
